
desktop.ini
.obsidian/workspace.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/obsidian-activity-history/data.json
.vault-stats
.DS_Store
.obsidian/core-plugins-migration.json
*.pyc
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/plugins/various-complements/histories.json
